<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">

<!--Команды меню-->
    <bean id="showRepertoire" class="ru.otus.menu.commands.ShowRepertoireCommand">
        <constructor-arg ref="workRepository"/>
        <constructor-arg ref="ioService"/>
    </bean>
    <bean id="workByComposer" class="ru.otus.menu.commands.WorkByComposerCommand">
        <constructor-arg ref="workRepository"/>
        <constructor-arg ref="ioService"/>
    </bean>
    <bean id="workByDifficulty" class="ru.otus.menu.commands.WorkByDifficultyCommand">
        <constructor-arg ref="workRepository"/>
        <constructor-arg ref="ioService"/>
    </bean>
    <bean id="addWork" class="ru.otus.menu.commands.AddWorkCommand">
        <constructor-arg ref="workRepository"/>
        <constructor-arg ref="ioService"/>
    </bean>
<!---->

    <bean id="menu" class="ru.otus.menu.Menu">
        <constructor-arg>
            <list>
                <bean class="ru.otus.menu.MenuItem">
                    <constructor-arg value="1"/>
                    <constructor-arg value="Show entire repertoire"/>
                    <constructor-arg ref="showRepertoire"/>
                </bean>
                <bean class="ru.otus.menu.MenuItem">
                    <constructor-arg value="2"/>
                    <constructor-arg value="Show works by composer"/>
                    <constructor-arg ref="workByComposer"/>
                </bean>
                <bean class="ru.otus.menu.MenuItem">
                    <constructor-arg value="3"/>
                    <constructor-arg value="Show works by difficulty"/>
                    <constructor-arg ref="workByDifficulty"/>
                </bean>
                <bean class="ru.otus.menu.MenuItem">
                    <constructor-arg value="4"/>
                    <constructor-arg value="Add work"/>
                    <constructor-arg ref="addWork"/>
                </bean>
            </list>
        </constructor-arg>
    </bean>

    <bean id="db" class="ru.otus.db.CSVWorksDB">
        <constructor-arg value="classpath:repertoire.csv"/>
    </bean>

<!-- Два специальных бина для IOService   ________________________________________________________________-->
    <bean id="stdin" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField" value="java.lang.System.in"/>
    </bean>

    <bean id="stdout" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField" value="java.lang.System.out"/>
    </bean>
<!--_____________________________________________________________________________________________________-->

    <bean id="ioService" class="ru.otus.console.ConsoleIOService">
        <constructor-arg ref="stdin"/>
        <constructor-arg ref="stdout"/>
    </bean>

    <bean id="consoleDisplayService" class="ru.otus.menu.ConsoleMenuDisplayService">
        <constructor-arg ref="menu"/>
        <constructor-arg ref="ioService"/>
    </bean>

    <bean id="workRepository" class="ru.otus.repository.WorkRepositoryImpl">
        <constructor-arg ref="db"/>
    </bean>

    <bean id="applicationRunner" class="ru.otus.application.ApplicationRunner">
        <constructor-arg ref="menu"/>
        <constructor-arg ref="ioService"/>
    </bean>

</beans>
