<p>work-form-page works in {{ mode }} mode!</p>

<form (ngSubmit)="submitValue()" [formGroup]="workForm">
  <label for="title">{{ mode }} title:</label>
  <input class="m-2" formControlName="title" id='title' type="text"/>

  <label for="instrument">instrument:</label>
  <input class="m-2" formControlName="instrument" id='instrument' type="text"/>

  <label for="difficulty">difficulty:</label>
  <select class="m-2" formControlName="difficulty" id="difficulty">
    <option value="">--Please choose difficulty--</option>
    @for (d of difficulties; track d) {
      <option [value]="d">{{ dLabels[d] }}</option>
    }
  </select>

  <button [disabled]="workForm.invalid" class="btn btn-primary" type="submit" value="send">Send</button>
</form>
@if (workForm.invalid) {
  <div class="text-danger">Fill up the form</div>
  @if (workForm.controls.title.dirty && workForm.controls.title.errors?.['required']) {
    <div class="text-danger">Title is required</div>
  }
  @if (workForm.controls.title.errors?.['maxlength']) {
    <div class="text-danger">Title max length is 200</div>
  }
  @if (workForm.controls.title.dirty && workForm.controls.difficulty.errors?.['required']) {
    <div class="text-danger">Choose difficulty</div>
  }
  @if (workForm.controls.difficulty.errors?.['oneOf']) {
    <div class="text-danger">Wrong difficulty</div>
  }
}
